body{
	font-family: 'Montaga', serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
    width : 100px;
    height: 100px;
}


nav {
	position: absolute;
	top: 40%;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: red;
	text-decoration: underline;
}
  
  main{
  width: 940px;
  margin: 0 auto;
  }
  
  form{
  margin: 40px 0;
  }
  
  form label, form legend {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	}
	
  .input-padrao {
   display: block;
   margin-bottom: 20px;
   padding: 10px 25px;
   width: 50%;
   }
   
   .checkbox {
      margin: 20px 0px;
   }
   
   footer img{
	width: 100%;
	
   }
   
   .enviar {
   	width: 40%;
   	padding: 15px 0px;
   	background: purple;
   	color: white;
   	font-weight: bold;
   	font-size: 18px;
   	border: none;
   	border-radius: 5px;
   	transition: 1s all;
   	cursor: pointer;
   	
   
   }
   
   .enviar:hover {
   	background: violet;
   	transform: scale(1.2);
   }
   
  table{
	  margin: 20px 0 40px;
  } 
  
  thead{
	  background: #555555;
	  color: white;
	  font-weight: bold;
  }

  td,th{
	  border:1px solid #000000;
	  padding: 8px 15px; /*vertical  - horizontal */
  }
  
  .imgFloat {
     width: 30%;
	 height: 30%; 
	 float: left;
	 margin: 0 20px 20px 0;
	 box-shadow: 10px 10px 30px #000000;
  }
  
  .mapa {

     padding: 3em 0;
  }
  
  h3 {
    font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	text-shadow: 0 0 10px purple;
  }
  
  
  .mapa p {
     margin: 0 0 2em;
	 text-align: center;
  }
  
  